.text.default {
    color: inherit;
}
.text.primary {
    color: #0055a5;
}
.text.secondary {
    color: #ff5733;
}
.text.success {
    color: #28a745;
}
.text.warning {
    color: #ffc107;
}
.text.danger {
    color: #dc3545;
}
  
  