footer {
  background-color: #404041;
  color: #fff;
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer .columns-2-cols ul {
  display: flex;
  list-style: none;
  gap: 10px;
  justify-content: flex-end;
  color: #fff;
}

footer .columns-2-cols ul li {
  position: relative;
}

footer .columns-2-cols ul li::after {
  content: "|";
  margin-left: 10px;
  color: #fff;
}

footer .columns-2-cols ul li:last-child::after {
  content: "";
}